#game-field{
    /*
    width: 300px;
    height: 300px;
    */

    max-width: 1200px;
    max-height: 1200px;
    border: solid 1px black;
    background: rgb(233, 233, 233);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: none;
    transition: 1s ease;
    z-index: 99;
    opacity: 0;
    box-shadow: 10px 10px rgb(65, 65, 65);
}

.excel{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: dashed 0.25px rgba(155, 155, 155, 0.25);
}

.snakeBody{
    /*background: rgba(95, 95, 95, 0.5);*/
    background: url('snake.ico');
}

.head{
    background: url("head.ico");
    background-size: cover;
    background-position: center center;
}

.apple{
    /*background: rgb(255, 0, 0);*/
    background: url('apple.ico');
}

#config{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s ease;
}

#popup{
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    vertical-align: middle;
    padding: 25px;
    border: solid 2px rgb(255, 0, 0);
    border-radius: 30px;
    background: rgba(104, 104, 104, 0.397);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: -150px;
    opacity: 0;
    transition: 1s ease;
}

body{
    background: rgb(102, 102, 102);
    overflow-x: hidden;
}

#config input{
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    height: 25px;
    width: 100px;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}

#config input:focus{
    outline: none;
}

#config label{
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
}

#config-submit{
    padding: 10px 20px;
    border: solid 2px #fff;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin-top: 30px;
    letter-spacing: 3px;
    transition: 0.5s ease;
}

@media screen and (min-width: 720px) {
    #config-submit:hover{
        background: #fff;
        color: #000;
    }
}